<!doctype html>
<html lang="es">
    <head>    
        <style>
            #create {
                position: relative;
                text-align: center;
            }
        </style>
    </head> 
    <body>
        <div id="create">
            <h1>Crear ticket</h1>
            <form method="POST" action="">{% csrf_token %}
                {{form.as_p}} 
                <input type="submit" value="Guardar"/>
            </form>
            {% comment %} <form action="" method="POST">{% csrf_token %} {% endcomment %}
                
                {% comment %} <p>
                    <label>Cédula de identidad: </label>
                    <input type="text" id="user_document" name="user_document">
                </p>
                <p>
                    <label>Cola: </label>
                    <input type="text" id="queue" name="queue">
                </p>
                <p>
                    <label>Condición: </label>
                    <input type="text" id="condition" name="condition">
                </p> {% endcomment %}
                {% comment %} <input type="submit" value="Crear"> {% endcomment %}
            {% comment %} </form> {% endcomment %}
            <br>
            <input type="submit" value="Volver" onclick="location.href='{% url "Turnero" %}'">
        </div>
    </body>
</html>
{% comment %} {% block formulario %} {% endcomment %}
    {% comment %} <h1>{{titulo}}</h1>
    {{request.user}} <br>
    {{titulo2}} {% endcomment %}

{% comment %} {% endblock %} {% endcomment %}