<!doctype html>
<html lang="es">
    <head>    
        <style>
            #login {
                position: relative;
                text-align: center;
            }
        </style>
    </head> 
    <body>
        <div id="login">
            <h1>Turnero</h1>
            <h2>Iniciar sesión</h2>
            <form action="" method="POST">{% csrf_token %}
                <p>
                    <label>Nombre: </label>
                    <input type="text" id="user_name" name="user_name">
                </p>
                <p>
                    <label>Contraseña: </label>
                    <input type="password" id="user_password" name="user_password">
                </p>
                <input type="submit" value="Ingresar">
            </form>
        </div>
    </body>
</html>