<!doctype html>
<html lang="es">
    <head>    
        <style>
        
            #main {
                display: flex;
                height: 70vh;
            }
            
            table {
                width: 100%;
                border-collapse: collapse;
            }
            
            th {
                text-align: center;
                background: lightgray;
            }

            td {
                text-align: center;
            }

            table, th {
                border: 2px solid;
            }
            
            #title {
                position: relative;
                text-align: center;
            }

            #table-container {
                flex-grow: 8;
                background: #f3f6f4;
                overflow-y: auto;
            }

            #buttons-container {
                flex-grow: 2;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .table-button-container {
                margin-top: 20px;
                width: 80%;
            }

            .table-button {
                width: 100%;
            }

        </style>
    </head> 
    <body>
        <div id="title">
            <h1>Tickets</h1>
        </div>
        <div id="main">
            <div id="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Número
                            </th>
                            <th>
                                Cédula
                            </th>
                            <th>
                                Estado
                            </th>
                        <tr>
                    <thead>
                    {% for item in ticket%}
                        <tr>
                            <td>
                                {{ item.pk }}
                            </td>
                            <td>
                                {{ item.client_document_number}}
                            </td>
                            <td>
                                {{ item.status}}
                            </td>
                        </tr>                           
                    {% endfor %}
                    {% comment %} <tr><th>Número</th><th>Cédula</th><th>Estado</th></tr> {% endcomment %}
                </table>
            </div>
            <div id="buttons-container">
                <form class="table-button-container" action="create" method="GET">{% csrf_token %}
                    <input type="submit" value="Crear ticket" class="table-button">
                </form>
                <form class="table-button-container">
                    <input type="submit" value="Derivar ticket" class="table-button">{% csrf_token %}
                </form>
                <form class="table-button-container" action="logout" method="GET">{% csrf_token %}
                    <input type="submit" value="Cerrar sesion"  class="table-button">
                </form>
            </div>
        </div>    
    </body>
</html>